# Data Science Tools and Ecosystem

**Objectives:**
+ Popular Languages
+ Common Libraries
+ Data Science Tools
+ Simple Arithmetic Expressions

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
-----------------------------
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3 * 4) + 5

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

## Author
Edward